.home {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: hsla(0, 0%, 0%, 0.85);
  height: 100% !important;
  width: 100% !important;
  padding-left: 20px;
  padding-right: 20px;
  color: white;


}
