<div class="home">
  <h1>In Development</h1>
  <!-- <div class="title">
    <h1>Miguel Rincon</h1>
    <h2>Mobile and Web Developer</h2>
  </div>
  <div>
    <p>
      Experienced Software Engineer with a demonstrated history of working in the information technology and services industry. Skilled in Node.js, Web Applications, Ionic Framework, and Mobile Applications. Strong engineering professional with a Engineer's degree focused in Computer Software Engineering from Universidad Rafael Belloso Chacín.
    </p>
  </div> -->
  
</div>