.home {
  padding-top: 90px;
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  justify-content: center;
  background-color: #000000d9;
  color: white;
  .body {
    display: flex;
    flex-direction: column;
    
    padding: 20px;
    #user {
      color: #00D900 !important;
    }
    #skills {
      color: #0070f0 !important;
    }
    #bar {
      color: #00D900 !important;
    }
  }
  @media (min-width: 120px) and (max-width: 899px) {
    .body {
      
    }
  }
  @media (min-width: 900px) {
    .body {
      width: 900px !important;
    }
  }
  
}
