<div class="contact">
  <div class="info">
    <p id="title">You Can Contact Me On</p>
    <div class="group">
      <p id="twitter">
        <fa class="icon" name="twitter"></fa>
      </p>
      <a href="https://twitter.com/MiguelAZK"><p>@MiguelAZK</p></a>
    </div>
    <div class="group">
      <p id="linkedin">
        <fa class="icon" name="linkedin"></fa>
      </p>
      <a href="https://www.linkedin.com/in/miguel-rincon-8aa513126/"><p>Miguel Rincon</p></a>
    </div>
    <div class="group">
        <p id="email">
          <fa class="icon" name="github"></fa>
        </p>
        <a href="https://github.com/softarv"><p>SoftARV</p></a>
      </div>
    <div class="group">
      <p id="email">
        <fa class="icon" name="envelope"></fa>
      </p>
      <a href="mailto:miguelrincon@protonmail.com"><p>miguelrincon@protonmail.com</p></a>
    </div>
  </div>


  <!-- <div class="bottom">

  </div> -->
</div>